<!-- #docregion dynamic-height -->
<div class="container">
    <mat-tab-group dynamicHeight>
        <!-- #enddocregion dynamic-height -->
        <mat-tab label="Registration Token">
            <div class="example-small-box mat-elevation-z4">
            Small content
            </div>
        </mat-tab>
        <mat-tab label="Onboarding Applications">
            <div class="example-large-box mat-elevation-z4">
            Large content
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
    