<!-- #docregion dynamic-height -->
<div class="container">
    <mat-tab-group dynamicHeight>
        <!-- #enddocregion dynamic-height -->
        <mat-tab label="Registration Token">
            <div>
                <div>
                    <button class="btn">Generate Token</button>
                    <br>
                    <label>Token: </label>
                </div>

                <div>
                    <form class="form-control">
                        <input placeholder="email"/>
                        <button class="btn">Send Email</button>
                    </form>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Onboarding Applications">
            <div class="example-medium-box">
                <mat-tab-group dynamicHeight>
                        <mat-tab label="Pending">
                            <app-onboardtable></app-onboardtable>
                        </mat-tab>

                        <mat-tab class="ss" label="Rejected">

                        </mat-tab>

                        <mat-tab label="Approved">

                        </mat-tab>
                </mat-tab-group>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
    