.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }


  .example-medium-box {
    display:contents;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    width: 650px;
  }

  .btn {
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .form-control input {
    width: 80%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }
  
  /* .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  } */

  .container {
    max-width: 1000px;
  }
  